openapi: 3.0.1
info:
  title: MySEBAPI
  version: '1.0'
  description: this great api from SEB
  termsOfService: https://www.example.com/tos
  contact:
    email: contact@example.com
    name: Support
    url: https://www.example.com/contact
  license:
    name: License
    url: https://www.example.com/license
servers:
  - url: https://my-json-server.typicode.com/bearc0025/api
    variables: {}
    description: my fake api server on github
paths:
  /users:
    summary: user level operations
    description: fetch users, create new users
    get:
      summary: fetch users from server
      description: returns users from server
      operationId: fetchUsers
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 1234asdf
                  username:
                    type: string
                    example: bear2133
                  score:
                    type: integer
                    example: 66
                  active:
                    type: boolean
                    example: true
        default:
          description: Default error sample response
      tags:
        - users








